.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.item{
    margin: 15px;
    width: 256px;
    height: 256px;
    background-size: cover;
    border: 2px solid black;
}

.cover {
    width: 256px;
    height: 256px;
    position: absolute;
}

.item-1 {
    background-image: url(../assets/images/cover1.webp);
}

.item-2 {
    background-image: url(../assets/images/cover2.jpeg);
}

.item-3 {
    background-image: url(../assets/images/cover3.jpeg);
}

.vinyl {
    position: relative;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: black;
}

.detail {
    position: relative;
    z-index: -1;
    width: 120px;
    height: 120px;
    background-image: radial-gradient(#ff1f1f, #2e40ff);
    border-radius: 50%;
}

.label {
    position: relative;
    z-index: -1;
    width: 70px;
    background-size: cover;
    height: 70px;
    border-radius: 50%;
}

.l1 {
    background-image: url(../assets/images/cover1.webp);
}

.l2 {   
    background-image: url(../assets/images/cover2.jpeg);
}

.l3 {
    background-image: url(../assets/images/cover3.jpeg);
}

.hole {
    position: relative;
    z-index: -1;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.open {
    transition: transform 2s;
    transform: translate(150px);
}

.close {
    transition: transform 2s;
    transform: translate(0px);
}