.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.item{
    margin: 15px;
    width: 250px;
    height: 250px;
    background-size: cover;
    border: 2px solid black;
}

.item-1 {
    background-image: url(/JavaSpotify/src/assets/images/cover1.webp);
}

.item-2 {
    background-image: url(/JavaSpotify/src/assets/images/cover2.jpeg);
}

.item-3 {
    background-image: url(/JavaSpotify/src/assets/images/cover3.jpeg);
}